.contenedor{
	width:900px;
	margin: 0 auto;
}
/* fondo de inicio */ 
.cabecera{
	background: white;
}
.cuerpo{
	width: 500px;
	background: skyblue;
	height: 300px;
	float: left;
	padding: 20px;
	border-radius:30px;
	
}
.menu li:hover {
	background: blue;
}

/* nuestros servicios y productos */ 
.sidebar{
	width: 360px;
	background: purple;
	height:340px ;
	float: left;
	text-align:center;
	border-radius:30px;
}	
/* Fondo de redes sociales */

.pie{
	height: 50px;
	background: white;
}
.menu ul {
	padding: 0 ;
}
.menu li {
	display: block;
	width: 179px;
	height: 20px;
	background: #999;
	float: left;
	text-align: center;
	font-weight: bold;
	padding: 7px 0;
	border-left: 1px solid #fff;
	border-radius:10px;
}
.menu li a {
	text-decoration: none;
	color: red;
}
/* Redes sociales */
.menu1 li {
	display: block;
	width: 169px;
	height: 20px;
	background: green;
	float: left;
	text-align: center;
	font-weight: bold;
	padding: 7px 0;
	border-left: 3px solid #fff;
	border-radius:30px;
	
	}
	
.menu1 li a {
	text-decoration: none;
	color: brown;
}

.menu1 li:hover{
	
background: yellow;
}
